[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
flake8 = "*"
Pillow = ">=10.3.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
